---
title: Gang Starr - Full Clip
Imagine Dragons - Whatever It Takes
player_color: 000000
track: imagine dragons whatever it takes
artist: Imagine Dragons
song: Whatever It Takes
album: Evolve
wiki_link: https//en.wikipedia.org/wiki/Whatever_It_Takes_(Imagine_Dragons_song)
song_link: https://music.apple.com/us/album/whatever-it-takes/1411625594?i=1411628148
album_link: https://music.apple.com/us/album/evolve/1411625594

cat_id: 724829348
order: 30
screenshot: gang_starr_full_clip.jpg
genius_link: http://genius.com/Imagine-dragons-whatever-it-takes-lyrics
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag("https://use.typekit.net/xnz0gsv.css") %>
  <%= stylesheet_link_tag("gang-starr-full-clip.css") %>
<% end %>

<% content_for :javascript do %>
  <script>
    var font = new FontFaceObserver('superclarendon');
    font.load().then(function () {
      fitty('.fit');
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Full Clip</h1>
  </header>
  <%= image_tag("gang-starr/gang_starr_full_clip.jpg", :alt => "In memory of Keith Elam Guru • 1961-2010") %>
  <figure>
    <blockquote>
      <p class="chorus"><span class="fit">Full</span> <span class="fit">clip</span> <span class="fit">do you wanna mess</span> <span class="fit">with this</span> <span class="fit">Gang</span> <span class="fit">starr</span> <span class="fit">one of the</span> <span class="fit">best yet</span> <span class="fit">I'm nice</span> <span class="fit">like that</span> <span class="fit">It's all good</span> <span class="fit">in this business</span> <span class="fit">of rap</span></p>
      <p>
        Falling too fast to prepare for this
        Tripping in the world could be dangerous
        Everybody circling, it's vulturous
        Negative, nepotist
      </p>
      <p>
        Hypocritical, egotistical
        Don't wanna be the parenthetical, hypothetical
        Working onto something that I'm proud of, out of the box
        An epoxy to the world and the vision we've lost
        I'm an apostrophe
        I'm just a symbol to remind you that there's more to see
        I'm just a product of the system, a catastrophe
        And yet a masterpiece, and yet I'm half-diseased
        And when I am deceased
        At least I go down to the grave and die happily
        Leave the body and my soul to be a part of thee
        I do what it takes
      </p>
      <p>
        Whatever it takes
        'Cause I love the adrenaline in my veins
        I do whatever it takes
        'Cause I love how it feels when I break the chains
        Whatever it takes
        Yeah, take me to the top, I'm ready for
        Whatever it takes
        'Cause I love the adrenaline in my veins
        I do what it takes
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data, include_span: true, fit: true } %>
  </figure>
</article>
